<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>

    {#    semantic cdn   #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


</head>
<body>

<form class="ui form" style="margin: 15px; padding: 15px; background-color: whitesmoke" action="{% url 'login' %}"
      method="post">
    {% csrf_token %}
    <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="assword">
    </div>
    <button class="ui button" type="submit">Login</button>
</form>

</body>
</html>