<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#5dbc45"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>

    {#    semantic cdn   #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    {#  sweet alert  #}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    {#  data-table  #}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.20/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>


</head>
<body>

<div class="ui segment big-container" style="background-color: whitesmoke; margin: 15px; padding: 15px">
    <table id="data-table" class="display" style="width: 100%">
    </table>
</div>

</body>
</html>


<script>
    var accounts = JSON.parse("{{ accounts | escapejs }}")

    $(document).ready(function () {
        var table = $('#data-table').DataTable({
            data: accounts,
            scrollX: true,
            columns: [
                {title: "کد ملی"},
                {title: "نام"},
                {title: "نام خانوادگی"},
                {title: "ایمیل"},
                {title: "شماره تماس"},
                {title: "رتبه"},
                {title: "شهر"},
                {title: "روز شرکت"}
            ],
            "initComplete": function () {
                var api = this.api();
            }
        });
    });
</script>