﻿@font-face{font-family:yekan; src:url(../fonts/Yekan.otf),url(../fonts/Yekan.ttf);}
@font-face {
    font-family: "fyekan";
    src: url("../fonts/47d41d.eot?#") format("eot"), url("../fonts/47.woff") format("woff"), url("../fonts/47.ttf") format("truetype");
}