/*
Theme Name: Flusk
Theme URI: http://themewagon.com/demo/Flusk/
Author: ThemeWagon
Author URI: http://themewagon.com/
Description: Slick One page HTML 5 template powered by Bootstrap 3.
Version: 1.14.11
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.txt
Tags: blur, white, one page, SokhaneReis, responsive-layout, full-width-template
Text Domain: flusk
*/

/**
* Table of Contents:
*
* 01.0 - Global
* 02.0 - Header
* 03.0 - Drawer with menu
* 04.0 - SokhaneReis styles
* 05.0 - Recent works
* 06.0 - Services
* 07.0 - Blog
* 08.0 - Testimonials
* 09.0 - Contact
* 10.0 - Footer
* 11.0 - Responsive styles
* -----------------------------------------------------------------------------
*/


/* ///////////////////////////////////////////////////////////////////// 
//  01 - Global 
/////////////////////////////////////////////////////////////////////*/

* {outline: none !important;}

::selection {
	background-color: #475B6F;
	color: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-y: scroll;
}

body {
	color: #6a6a6a;	
	background: #f1f0f0;
}

p {margin: 0 0 20px 0;	}

img {max-width: 100%;}

a {
	text-decoration: none;
	outline: none;
}

a{	
	color: #4da7ca;
	/*-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;*/
}

a:hover {
	color: #4290ae;	
}


h1, h2, h3, h4, h5, h6{		
	margin: 0 0 15px 0;	
	color: #3A4F52;
	font-family: 'fyekan';
}

.btn{border-radius: 0;}
.btn-o {
    border: 1px solid #3A4F52;
    color: #3A4F52;
}
.btn-o:hover {
    background: #3A4F52;
    color: white;
}
.btn.btn-o-white {
    border: 1px solid white;
    color: white;
    background: transparent;
}
.btn.btn-o-white:hover {
    background: white;
    color: #6a6a6a;
}


/*////////////////////////////////////////////////////////////////////////
//  02 - Header
///////////////////////////////////////////////////////////////////////*/

#header {	
	position: relative;
	padding: 0 !important;
}

#header.header-wrapper {
	background-size: cover;
	display: table;
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 10;
	overflow-x: hidden; 
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #header.header-wrapper {
		height: auto;
		min-height: 100vh;
		padding: 0px; 
	} 
}

#header.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
}

#header .top {
	position:fixed;
	top:0;
	width: 100%;
	padding: 30px;
	height: auto;
	z-index: 500;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;	
	transition: all .5s;		
}

#header .top.solid {
    background: #475B6F;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header .top.solid2 {
    background: #475B6F;
    padding-top: 15px;
    padding-bottom: 15px;
}
#header .top.solid2 .toggleDrawer i {
    padding-top: 8px;
}


#header .top h1{
	margin-bottom: 0;
}
#header .top.solid .toggleDrawer i {
    padding-top: 8px;
}

#header .logo, #header .toggleDrawer{
	font-family: 'Alegreya SC';
	color: white;
}

#header .slogan{
	font-size: 4em;
	margin-bottom: 15px;
	line-height: 1em;
	font-family: 'fyekan';
	color: white;
}

#header .secondary-slogan{
	font-size: 1.6em;
	color: rgba(255,255,255,.5);
	line-height: 1em;
	font-family: 'Alegreya SC';
}

#header .bottom {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#header .bottom a img {
    width: 50px;
}
#header .bottom a {
    opacity: 0.7;
}
#header .bottom a:hover {
    opacity: 1;
}


/*////////////////////////////////////////////////////////////////////////
//  03 - Drawer with menu
///////////////////////////////////////////////////////////////////////*/

#drawer-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: -300px;
    background: #2B3E51;
    width: 300px;
    padding: 20px;
    z-index: 999;
}

#drawer-right h1, #drawer-right h2{color: white;}

.nav-stacked>li {
    float: none;
    width: 100%;
    position: relative;
    display: block;
}
.nav-stacked>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-stacked>li>a:focus, .nav-stacked>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

#drawer-right .nav-pills>li>a {
	font-size: 18px;
	border-radius: 0;
    font-family: 'fyekan';
    direction: rtl;
    text-align: right;
}
    #drawer-right .nav-pills > li > a i {
        margin-left: 10px;
    }

#drawer-right .social{margin-top: 30px}
#drawer-right .social ul {
    list-style: none;
    padding-left: 20px;
}
#drawer-right .social ul > li {
    display: inline-block;
}
#drawer-right .social ul > li > a:hover{
	color: white;
}



/*////////////////////////////////////////////////////////////////////////
//  04 - SokhaneReis styles
///////////////////////////////////////////////////////////////////////*/

.content-block{
	background:transparent no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding: 90px 0;
    direction: rtl;
    font-family: fyekan;
}
.SokhaneReis{
	padding: 80px 0;
}

.block-body {
	margin-top: 60px;
}

#Khadamat {
	
	color: white;
}
#SokhaneReis {
	
	color: white;
}
#contact {
	background-image: url(../images/newsletter-bg.png);
	color: white;
	background-color: #405162;
}
#SokhaneReis h1{
	margin-top: 30px;
    color: white;
    font-size: 14pt;
    line-height: 22pt;
}




/*////////////////////////////////////////////////////////////////////////
//  05 - Recent works
///////////////////////////////////////////////////////////////////////*/

.recent-work {
    width: 100%;
    padding-bottom: 27%;
    background: #C3C9CC;
    display: table;
    text-align: center;
    vertical-align: middle;
    padding-top: 27%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
}

.recent-work span{
	margin-top: -18px;
	opacity: 0;
	position: relative;
	z-index: 1;
}
.recent-work:before {
    background: rgba(2, 56, 58, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    -o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.recent-work:hover {
    background-size: 200%;
    background-position: center;
}
.recent-work:hover:before, .recent-work:hover span {
    opacity: 1;
}





/*////////////////////////////////////////////////////////////////////////
//  06 - Services
///////////////////////////////////////////////////////////////////////*/

#services h1, #services h2{
	color: white;
}
.service i , .service em {
    font-size: 60px;
}
.service {
    padding: 0 25px;
}




/*////////////////////////////////////////////////////////////////////////
//  07 - Blog
///////////////////////////////////////////////////////////////////////*/


#blog .blog-post img {
    margin-bottom: 20px;
}
#blog .date {
    margin-bottom: 15px;
    font-style: italic;
}


/*////////////////////////////////////////////////////////////////////////
//  08 - Testimonials
///////////////////////////////////////////////////////////////////////*/


#testimonials{
	text-align: center;
}
#testimonials .testimonial > img {
    border-radius: 100%;
    margin-bottom: 15px;
}
#testimonials .testimonial {
	padding: 25px;
}


/*////////////////////////////////////////////////////////////////////////
//  09 - Contact
///////////////////////////////////////////////////////////////////////*/


#contact{
	color: white;
}
#contact h1{color: white}

.form-control-white {
    background: transparent;
    color: white;
}

.form-control-white::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
.form-control-white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
.form-control-white::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
.form-control-white:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}


/*////////////////////////////////////////////////////////////////////////
//  10 - Footer
///////////////////////////////////////////////////////////////////////*/


#footer{ background: #2B3E51; color: white;}



/*////////////////////////////////////////////////////////////////////////
//  11 - Responsive styles
///////////////////////////////////////////////////////////////////////*/


@media (max-width: 767px){
	#header .slogan {
		font-size: 2.8em; 
	} 

	#header .secondary-slogan {
		font-size: 1.2em;
	}

	#header .bottom {
		bottom: 13%;
	}

	.blog-post {
		margin-bottom: 40px;
	}

	.recent-work {
		background-position: center;
	}

	.recent-work:before {
		opacity: 1;
	}

	.recent-work span {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	#drawer-right {
		padding: 10px 20px;
	}

	#drawer-right .nav-pills>li>a {
		font-size: 17px;
	}

	.nav-stacked>li+li {
		margin-top: 0;
	}

	.nav>li>a {
		padding: 8px 15px;
	}

	#drawer-right .social {
		margin-top: 5px;
	}

	#header {
		background-size: cover;
	}
}


.form-group > div {
    float: right;
}

.AkhbarList{ list-style: none;margin: 0; padding: 0}
.AkhbarList li{ float: right;width: 100%;margin-bottom: 2px}
.AkhbarList li a{    display: block;
    float: right;
    width: 100%;}
.AkhbarList li a:hover{ background-color: #ddd; border-radius: 4px}
.AkhbarList li a .Onvan{    float: right;
    display: block;
    margin-top: 8px;}
.AkhbarList li a .Icon{    display: block;
    float: right;
        margin: 5px 5px 5px 10px;
    background: #fff;
    padding: 4px 6px 1px 6px;
    border: solid 1px #999;
        border-radius: 4px 2px 2px 4px;
    position: relative;
    margin-left: 10px;}
.AkhbarList li a .Icon .fa-caret-left{     position: absolute;
    left: -5px;
    top: 6px;
    color: #999;
}
.AkhbarList li a .Tarikh{ float: left;    margin: 8px 5px 5px 5px;}

.ShowPrice{}
.ShowPrice span{margin: 3px}
.ShowPrice .Tedad{}
.ShowPrice .Amal{}
.ShowPrice .GheymateVahed{}
.ShowPrice .GheymateVahedDesc{    font-size: 8pt;color: brown;margin-top: 5px;margin-right: 0px;}
.ShowPrice .GheymateKol{ color: green;}
.ShowPrice .GheymateKolDesc{    font-size: 8pt;color: green;margin-top: 6px;margin-right: 0px;}

.Matn {
    font-size: 12pt;line-height: 22pt;direction: rtl; text-align: justify
}

.MatnNote {
    background: none repeat scroll 0 0 #027b59;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 15px;
    padding: 15px 10px 10px;
    position: relative;
    text-align: justify;
    color: #fff;
}
.MatnNote i {
    color: #fff;
    font-size: 12pt;
    position: absolute;
    text-shadow: 1px 1px 2px #999999;
    top: -2px;
}

.modal-backdrop.fade {
    opacity: .7 !important;
}

.k-window>div.k-popup-edit-form textarea{
    direction:ltr;
}


/* Portlet */
.portlet {
    background: #fff;
    padding: 20px;
}

.portlet.portlet-gray {
    background: #f7f7f7;
}

.portlet.portlet-bordered {
    border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
    padding: 0;
    min-height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
}

.caption {
    float: right;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}

.caption.caption-green .caption-subject,
.caption.caption-green i {
    color: #4db3a2;
    font-weight: 200;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
    color: #e26a6a;
    font-weight: 200;
}

.caption.caption-purple .caption-subject,
.caption.caption-purple i {
    color: #8775a7;
    font-weight: 400;
}

.caption i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
}

.caption-subject {
    color: #666;
    font-size: 20px;
    font-weight: 600;
}

.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}


/* Actions */
.actions {
    float: left;
    display: inline-block;
}

.actions a {
    margin-left: 3px;
}

.actions .btn {
    color: #666;
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50px;
}

.actions .btn i {
    font-size: 12px;
}

.actions .btn:hover {
    background: #f2f2f2;
}

.field-validation-error {
    color: #8b0000;
}